<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivityAidsPreventions"></activity>
        <activity android:name=".MainActivityAidsSymptoms" />
        <activity android:name=".MainActivityAidsHome" />
        <activity android:name=".MainActivityRaivaHome"/>
        <activity android:name=".MainActivityRaivaSymptoms"/>
        <activity android:name=".MainActivityRaivaPreventions"/>
        <activity android:name=".MainActivityCovid19Symptoms" />
        <activity android:name=".MainActivityCovid19Home" />
        <activity android:name=".MainActivityCovid19Preventions" />
        <activity android:name=".MainActivityOutrasDoencas" />
        <activity android:name=".MainActivityNumeroEmergencia" />
        <activity android:name=".MainActivityNoticias" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>